
<head>
	<title>La Pagaie du Gat</title>
</head>
<body>
	<p align=center>
	<FONT size="+1">Bienvenue sur le site de</FONT><br>
	<br>
	<FONT size="+4">La Pagaie du Gat</FONT><br>
	<br>
	<img src="../image/logo.jpg"><br>
	<br>
	WebMaster : <a href="mailto:gammanu@free.fr?subject=La Pagaie du Gat">Gamma Nu</a>
	</p>
</body>
