<TITLE>Horaires de sorties accompagn&eacute;es</TITLE>
<BODY>
<TABLE FRAME=BORDER CELLSPACING=1 cellpadding=5 RULES=ALL COLS=6 BORDER=3 bgcolor="#a7c8e5">
	<CAPTION><FONT size="+3">Horaires de sorties accompagn&eacute;es</FONT></CAPTION>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE><font size="+1">Date</font></TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE><font size="+1">Lieu</font></TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE><font size="+1">D&eacute;part de Castres (heure:minute)</font></TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE><font size="+1">Mar&eacute;e haute &agrave; Castres</font></TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE><font size="+1">Coefficient</font></TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE><font size="+1">Dur&eacute;e approximative</font></TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 21/03</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Isle St George</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>08:30</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>8:41</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>98</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>journ&eacute;e</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 28/03</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Langoiran</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>12:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>13:38</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>38</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>pique-nique 4h</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 4/04</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Ciron</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>09:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>8:36</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>86</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>journ&eacute;e</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 11/04</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Langoiran</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>12:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>13:42</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>61</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>pique-nique 4 h</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 18/04 (ou 2/05)</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Embouchure de la Leyre</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>11:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>21:02</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>89</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>journ&eacute;e</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 25/04</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Langoiran</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>10:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>12:22</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>52</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>3h</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 2/05 (ou18/04)</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Embouchure de la Leyre</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>10:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>19:45</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>78</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>journ&eacute;e</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 9/05</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Langoiran</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>10:30</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>12:40</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>77</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>2 h 30</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 16/05</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Ciron ou St Selve</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>09:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>20:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>73</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>journ&eacute;e ou 4 h 30</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 23/05</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>xxxxxxxxxxxxx</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE><BR></TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>11:29</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>63</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE><BR></TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 30/05</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Embouchure du Ciron Castres</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>09:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>18:19</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>61</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>journ&eacute;e</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 6/06</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Langoiran</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>09:45</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>11:44</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>90</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>3 h</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 13/06</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Leyre</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>09:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>6:09</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>54</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>journ&eacute;e</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 20/06</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Isle St George</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>10:30</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>10:43</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>68</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>journ&eacute;e</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 27/06 </TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Ile de la Lande</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>09:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>16:34</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>51</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>journ&eacute;e</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D 4/07</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Langoiran</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>09:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>10:46</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>96</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>3 h</TD>
		</TR>
		<TR>
			<TD ALIGN=CENTER VALIGN=MIDDLE>D  11/07</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>&quot;mascaret&quot; 13:30</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>12:00</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>17:04</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>43</TD>
			<TD ALIGN=CENTER VALIGN=MIDDLE>Pique-nique 3h</TD>
		</TR>
</TABLE>
<CENTER>
Sortie accompagn&eacute;e sous r&eacute;serve de disponibilit&eacute; de l'accompagnateur<br>
<A href="../fichiers/horaires.pdf">version imprimable</A></CENTER>
</BODY>

