<TITLE>Barre de Navigation</TITLE>
<BODY background="../image/nav_background.jpg">
    <TABLE BORDER=0 height=100% width=100% cellspacing=0 cellpadding=0>
      <TR><TD background="../image/nav_background_top.jpg" height="5">
      </TD></TR>
      <TR><TD valign="center" align="left">
	    &nbsp;&nbsp;<a href="accueil.html" target="main">Accueil</a><BR><BR>
	    &nbsp;&nbsp;<a href="horaires.html" target="main">Horaires</a><BR><BR>
<!--
	    <a href="tarifs.html" target="main">Tarifs</a><BR>
-->
	    &nbsp;&nbsp;<a href="galerie.html" target="main">Galerie photos</a><BR>
	    <UL compact="true">
	      <LI>
	        <a href="archives.html" target="main">Archives</a><BR>
	      </LI>
	      <LI>
	        <a href="2004.html" target="main">2004</a><BR>
	      </LI>
	    </UL>
	    &nbsp;&nbsp;<a href="contact.html" target="main">Nous contacter</a><BR><BR>
<!--
	    <a href="plan.html" target="main">Plan du site</a><BR>
-->
      </TD></TR>
    </TABLE>
</BODY>