<HEAD>
	<META name="description" content="site de la Pagaie du Gat une association de cano&euml; et kayak en Gironde">
	<META name="author" content="Gamma Nu">
	<META name="keywords" lang="fr" content="cano&euml;,kayak,gironde,association,La Pagaie du Gat">
	<TITLE>La Pagaie du Gat</TITLE>
</HEAD>

<frameset rows="53,*" FRAMESPACING=0 BORDER=0 FRAMEBORDER="No">
	<frame src="html/titre.html" name="Titre" scrolling="no" noresize marginwidth="0" marginheight="0">
	<frameset cols="15%,85%">
		<frame src="html/navBar.html" name="navBar" marginwidth="0" marginheight="0">
		<frame src="html/accueil.html" name="main">
	</frameset>
</frameset>

